<% @posts.each do |post| %>
	<div class="col-md-4">
		<div class="post">
			<h2 class="post-title"><%= post.title %></h2>
			<%= link_to "View Post", post_path(post.id), class: "btn btn-default" %>
			<%= link_to like_post_path(post.id), method: :put do %>
				Upvote
			  	<%= post.get_upvotes.size %>
			<% end %>
			<%= link_to dislike_post_path(post.id), method: :put do %>
			  	Downvote
			  	<%= post.get_downvotes.size %>
			<% end %>
		</div>
	</div>
<% end %>
