<div class="col-md-8 col-md-offset-2">
	<div class="post-show">
		<h2><%= @post.title %></h2>
		<h3 class="post-rating">Rating: <%= @post.get_upvotes.size-@post.get_downvotes.size %></h3>
		<p class="post-posted-by">Posted by <%= @post.user.email %> <%= time_ago_in_words(@post.created_at) %> ago</p>
		<p><%= link_to @post.url, @post.url, class: "post-url" %></p>
		<p class="post-desc"><%= @post.description %></p>

		<% track_url = @post.url %>
		<% if track_url.include?('soundcloud.com') %>
			<% client = Soundcloud.new(:client_id => ENV["SOUNDCLOUD_CLIENT_ID"]) %>
			<% track = client.get('/resolve', :url => track_url) %>
			<% @trackid = track.id %>
			<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/<%=@trackid%>&amp;color=ff6600&amp;auto_play=false&amp;show_artwork=true"></iframe>
		<% elsif track_url.include?('spotify.com')%>
			<% @spotifyid = track_url %>
				<iframe src="https://embed.spotify.com/?uri=spotify:track:<%=@spotifyid.sub(/^track/, '')%>" width="100%" height="80" frameborder="0" allowtransparency="true"></iframe>
		<% end %>

		<h3>Comments:</h3>
		<%= render @post.comments %>

		<h3 class="reply-to-post">Reply to Post:</h3>
		<%= render 'comments/form' %>
		<br>

		<div class="links btn-group">
			<%= link_to "Home", root_path, class: "btn btn-default" %>
			<% if user_signed_in? %>
				<% if @post.user_id == current_user.id %>
					<%= link_to "Edit", edit_post_path(@post), class: "btn btn-default" %>
					<%= link_to "Delete", post_path(@post), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-default"%>
				<% end %>
			<% end %>	
		</div>
	</div>
</div>
